flows/create_candidate_form.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>submit_for_approval</name>
        <label>submit for approval</label>
        <locationX>776</locationX>
        <locationY>614</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>thanks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Save_candidate_form</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Multi_step_approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>EducationalLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education_levelNew__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeofdiploma</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_diploma__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Candidate form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Candidate form22</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_candidate_form</name>
        <label>Save candidate form</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Upload_cv</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Date_of_first_experience__c</field>
            <value>
                <elementReference>Copy_1_of_Date_of_first_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Copy_1_of_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_levelNew__c</field>
            <value>
                <elementReference>Educational_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_employer__c</field>
            <value>
                <elementReference>Copy_1_of_Last_employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_number__c</field>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Campaign__c</field>
            <value>
                <elementReference>RCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_Channel__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seniority__c</field>
            <value>
                <elementReference>Copy_1_of_Seniority1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seniority_in_the_position__c</field>
            <value>
                <elementReference>Copy_1_of_Seniority_in_position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality__c</field>
            <value>
                <elementReference>Speciality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>in selection process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_status__c</field>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_diploma__c</field>
            <value>
                <elementReference>Type_of_diploma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_input__c</field>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>University__c</field>
            <value>
                <elementReference>University</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Candidate_form</name>
        <label>Candidate form</label>
        <locationX>777</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Candidate_form</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the following information.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>\d{8}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>12345678</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Speciality</name>
            <dataType>String</dataType>
            <fieldText>Speciality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter valid value for Speciality. No Numbers allowed.&lt;/p&gt;</errorMessage>
                <formulaExpression> REGEX( {!Speciality}, &quot;[a-zA-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Educational_Level</name>
            <choiceReferences>EducationalLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Educational Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_diploma</name>
            <choiceReferences>typeofdiploma</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of diploma</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>University</name>
            <dataType>String</dataType>
            <fieldText>University</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please enter valid value for &lt;/span&gt;University&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;. No Numbers allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!University}, &quot;[a-zA-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Candidate_form</name>
        <label>Copy 1 of Candidate form</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_candidate_form</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the following information.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Date_of_first_experience</name>
            <dataType>Date</dataType>
            <fieldText>Date of first experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Seniority1</name>
            <dataType>Number</dataType>
            <fieldText>Seniority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Seniority_in_position</name>
            <dataType>Number</dataType>
            <fieldText>Seniority in position</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Last_employer</name>
            <dataType>String</dataType>
            <fieldText>Last employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter valid value for Last employer. No Numbers allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Copy_1_of_Last_employer},&quot;[a-zA-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Details</name>
            <fieldText>Cover letter</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>1099</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Candidate_form</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen_0</name>
        <label>error screen</label>
        <locationX>1044</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_cv</targetReference>
        </connector>
        <fields>
            <name>Error_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>thanks</name>
        <label>thanks</label>
        <locationX>783</locationX>
        <locationY>785</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hello! We always look forward to go through applications of great people who’d like to work with us. Thank you for applying for a position with us!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_cv</name>
        <label>Upload_cv</label>
        <locationX>776</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>submit_for_approval</targetReference>
        </connector>
        <fields>
            <name>uploadddcv</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Save_candidate_form</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Save_candidate_form</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Candidate_form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>jkkh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
