flows/Create_technical_interview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>technical interview</description>
        <name>send_email_to_candidate</name>
        <label>send email to candidate</label>
        <locationX>578</locationX>
        <locationY>1046</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi {!get_candidate.First_Name__c}  ! Thank you for applying to the job position at PWC TAC. After reviewing your application, we’re excited to invite you to a technical interview for the role! It&apos;s going to be at {!Get_technical_interview.Date__c} and here is the zoom url : {!zoomUrl}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_candidate.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>get_candidate.Responsible__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PWC TAC:  Technical Interview  </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>zoomUrl</name>
        <label>zoomUrl</label>
        <locationX>578</locationX>
        <locationY>830</locationY>
        <actionName>GetZoomMeetingURLwithInput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>GetZoomMeetingURLwithInput</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>choice1</name>
        <choiceText>{!Get_technical_interview.Date_1_of_disponibility__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_technical_interview.Date_1_of_disponibility__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice2</name>
        <choiceText>{!Get_technical_interview.Date_2_of_disponibility__c}</choiceText>
        <dataType>Date</dataType>
        <value>
            <elementReference>Get_technical_interview.Date_2_of_disponibility__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Date1</name>
        <choiceText>{!Get_technical_interview.Date_1_of_disponibility__c}</choiceText>
        <dataType>Date</dataType>
        <value>
            <elementReference>Get_technical_interview.Date_1_of_disponibility__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Date2</name>
        <choiceText>{!Get_technical_interview.Date_2_of_disponibility__c}</choiceText>
        <dataType>Date</dataType>
        <value>
            <elementReference>Get_technical_interview.Date_2_of_disponibility__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Date3</name>
        <choiceText>{!Get_technical_interview.Date_3_of_disponibility__c}</choiceText>
        <dataType>Date</dataType>
        <value>
            <elementReference>Get_technical_interview.Date_3_of_disponibility__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Decision1</name>
        <label>is the step check cv by manager?</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>none</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_step_check_cv_by_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_candidate.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check CV by Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>About_technical_interview</targetReference>
            </connector>
            <label>Is the step check cv by manager?</label>
        </rules>
        <rules>
            <name>is_the_step_schedule_interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_candidate.Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule technical interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_technical_interview</targetReference>
            </connector>
            <label>is the step schedule interview</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create technical interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_event</name>
        <label>create event</label>
        <locationX>578</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>send_email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Choose_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058d0000064vaz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!get_candidate.Name} {!get_candidate.First_Name__c} &apos;s technical interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cccalendar__Event_URL__c</field>
            <value>
                <elementReference>zoomUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_interview</name>
        <label>Create interview</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>update_can</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>get_candidate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_1_of_disponibility__c</field>
            <value>
                <elementReference>Date_of_disponibility1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_2_of_disponibility__c</field>
            <value>
                <elementReference>Date_of_disponibility2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_3_of_disponibility__c</field>
            <value>
                <elementReference>Date_of_disponibility3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Technical interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Interview_type</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_approval_request</name>
        <label>Get approval request data</label>
        <locationX>842</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_candidate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_candidate</name>
        <label>get candidate</label>
        <locationX>842</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_approval_request.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_technical_interview</name>
        <label>Get technical interview</label>
        <locationX>578</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_can</name>
        <label>update can</label>
        <locationX>55</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>created_interview__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_interview</name>
        <label>update interview</label>
        <locationX>578</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>zoomUrl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_technical_interview.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Choose_date</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <screens>
        <name>About_technical_interview</name>
        <label>About technical interview</label>
        <locationX>50</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_interview</targetReference>
        </connector>
        <fields>
            <name>help</name>
            <fieldText>&lt;p&gt;Please fill this form before approving the candidate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_type</name>
            <choiceReferences>type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interview type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_disponibility1</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of disponibility1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_disponibility2</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of disponibility2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_disponibility3</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of disponibility3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_done</name>
        <label>Copy 1 of done</label>
        <locationX>578</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_donee</name>
            <fieldText>&lt;p&gt;Done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>58</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>donee</name>
            <fieldText>&lt;p&gt;Done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>About_technical_interview</targetReference>
        </connector>
        <fields>
            <name>Error_screen</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_date</targetReference>
        </connector>
        <fields>
            <name>Error_screen_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0_0</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_date</targetReference>
        </connector>
        <fields>
            <name>Error_screen_0_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0_0_0</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_technical_interview</targetReference>
        </connector>
        <fields>
            <name>Error_screen_0_0_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0_0_0_0</name>
        <label>Error</label>
        <locationX>2162</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_approval_request</targetReference>
        </connector>
        <fields>
            <name>Error_screen_0_0_0_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_candidate</targetReference>
        </connector>
        <fields>
            <name>Error_screen_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;An error has occurred&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>none</name>
        <label>none</label>
        <locationX>1634</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_date</name>
        <label>Select date</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_interview</targetReference>
        </connector>
        <fields>
            <name>alert</name>
            <fieldText>&lt;p&gt;Please select one of the available dates before approving candidate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_date</name>
            <choiceReferences>Date1</choiceReferences>
            <choiceReferences>Date2</choiceReferences>
            <choiceReferences>Date3</choiceReferences>
            <dataType>Date</dataType>
            <fieldText>Choose date</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_approval_request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
