flows/Create_RC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>gabsijihen31@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Job post</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Linkedin</name>
        <choiceText>Linkedin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Linkedin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruitment_agency</name>
        <choiceText>Recruitment agency + Linkedin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recruitment agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tanit_jobs</name>
        <choiceText>Tanit jobs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tanit jobs</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Recruitment_site</name>
        <label>Recruitment site</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_linkedin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recruitment_sites</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Linkedin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new</targetReference>
            </connector>
            <label>is linkedin?</label>
        </rules>
        <rules>
            <name>is_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recruitment_agency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recruitment_agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_screen</targetReference>
            </connector>
            <label>is email?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create RC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create RC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_new</name>
        <label>Copy 1 of new</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Job_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Recruitment_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poste__c</field>
            <value>
                <elementReference>get_job_request_data.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seniority__c</field>
            <value>
                <elementReference>get_job_request_data.Seniority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Campaign2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>new</name>
        <label>new</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Job_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Recruitment_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poste__c</field>
            <value>
                <elementReference>get_job_request_data.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seniority__c</field>
            <value>
                <elementReference>get_job_request_data.Seniority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Campaign2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_job_request_data</name>
        <label>Copy 1 of get job request data</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Request1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_job_request_data</name>
        <label>get job request data</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruitment_site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Request1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update</name>
        <label>Copy 1 of Update</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recruitment_Campaign__c</field>
            <value>
                <elementReference>Copy_1_of_new</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Request1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recruitment_Campaign__c</field>
            <value>
                <elementReference>new</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Request1__c</object>
    </recordUpdates>
    <screens>
        <name>Email_screen</name>
        <label>Email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_get_job_request_data</targetReference>
        </connector>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recruitment agency email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Recruitment_Campaign</name>
        <label>New Recruitment Campaign</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_job_request_data</targetReference>
        </connector>
        <fields>
            <name>Recruitment_Campaign_Name</name>
            <dataType>String</dataType>
            <fieldText>Recruitment Campaign Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_description</name>
            <fieldText>Job description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Deadline</name>
            <dataType>Date</dataType>
            <fieldText>Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recruitment_sites</name>
            <choiceReferences>Linkedin</choiceReferences>
            <choiceReferences>Recruitment_agency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recruitment sites</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Recruitment_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello We are PWC TAC Tunisia and we need this particular profile : {!Copy_1_of_get_job_request_data.Name}&lt;/p&gt;&lt;p&gt;here is the url for applying : &quot; https://resourceful-impala-vb4srp-dev-ed.trailblaze.my.site.com/s/candidate?id={!Copy_1_of_new} &quot;&lt;/p&gt;&lt;p&gt;and here is a quick description to add to the post &quot; {!Job_description} &quot;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>postename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>senoirity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
