flows/create_recruitment_compaiign_screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Linkedin</name>
        <choiceText>Linkedin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Linkedin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tanit_jobs</name>
        <choiceText>Tanit jobs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tanit jobs</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>create recruitment compaiign screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create recruitment compaign screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_recruitment_compaign</name>
        <label>Create recruitment compaign</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Job_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Recruitment_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poste__c</field>
            <value>
                <elementReference>postename</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_sites__c</field>
            <value>
                <elementReference>Recruitment_sites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seniority__c</field>
            <value>
                <elementReference>senoirity</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_job_request_data</name>
        <label>get job request data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_recruitment_compaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RCId</elementReference>
            </value>
        </filters>
        <object>Job_Request1__c</object>
        <outputAssignments>
            <assignToReference>postename</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>senoirity</assignToReference>
            <field>Seniority__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Recruitment_Campaign</name>
        <label>New Recruitment Campaign</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_job_request_data</targetReference>
        </connector>
        <fields>
            <name>Recruitment_Campaign_Name</name>
            <dataType>String</dataType>
            <fieldText>Recruitment Campaign Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_description</name>
            <fieldText>Job description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deadline</name>
            <dataType>Date</dataType>
            <fieldText>Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recruitment_sites</name>
            <choiceReferences>Tanit_jobs</choiceReferences>
            <choiceReferences>Linkedin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recruitment sites</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Recruitment_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>postename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>senoirity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
